/* ===== CONTENT ===== */
/* 
OVERALL
HEADER
BILL FORM
MEDIA768
*/




/* ===== OVERALL ===== */
.App {
  font-size: 16px;
  text-align: center;
}



/* ===== HEADER ===== */
.headerWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(https://rotorua.holidayinn.com/wp-content/uploads/sites/5/2016/02/GM_Holiday-Inn_Rotorua_-0148.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}

.headerBtn {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 2px solid;
  border-radius: 10px;
  border-color: #ec495e;
  background-color: #ec495e;
  padding: 20px;
  display: inline-block;
  margin-top: 30vh;
  transition: .5s ease-out;
}
.headerBtn:hover {
  border-color: #fff;
  background-color: none;
}



/* ===== BILL FORM ===== */
.billFormWrapper {
  width: 100%;
  height: 100vh;
  transition: .5s ease-in-out;
}



/* ===== MEDIA768 ===== */
@media screen and (min-width: 768px) {
  .headerBtn {
    font-size: 30px;
    padding: 30px;
  }
}