/* ===== CONTENT ===== */
/* 
OVERALL
HEADER
BILL FORM
PAYMENT DETAIL
PROMOTION MGT FORM 
MEDIA768
*/




/* ===== OVERALL ===== */
.App {
  font-size: 14px;
  text-align: center;
}
input {
  background-color: transparent;
}
input:not(textarea) {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #aaa;
  box-shadow: none;
  -webkit-box-shadow: none;
}
input:focus {
  outline: none;
  border-bottom-color: #38D99D;
  border-bottom-width: 1.2px;
}
.customLabel {
  font-size: 16px;
  color: #38D99D;
  font-weight: bold;
  text-decoration: underline;
}
.floatRight {
  float: right;
}
.underline {
  border-bottom: 1px solid #38D99D;
}
.dbUnderline {
  border-bottom: 3px double #38D99D;
}
.bold {
  font-weight: bold;
}
a {
  cursor: pointer;
}
.clear {
  clear: both;
}
.alignCenter {
  text-align: center;
}
.react-numeric-input b {
  display: none;
}
.react-numeric-input input {
  width: 90%;
}



/* ===== HEADER ===== */
.headerWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(./image/bgImage.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}
.headerBtn {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 2px solid;
  border-radius: 10px;
  border-color: #ec495e;
  background-color: #ec495e;
  padding: 20px;
  display: inline-block;
  margin-top: 30vh;
  transition: .5s ease-out;
}
.headerBtn:hover {
  border-color: #fff;
  background-color: none;
  transform: scale(1.1);
}



/* ===== BILL FORM ===== */
.billFormWrapper {
  width: 100%;
  height: 100vh;
  transition: .5s ease-in-out;
  background-image: url(./image/bgImage2.jpg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}
.billSection {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.billSection:first-child {
  padding-top: 40px;
}
.billSection:last-child {
  padding-bottom: 40px;
}
.noOfCustomerWrapper {
  font-weight: bold;
}
.noOfCustomerInput {
  width: 20%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.PromotionSelectorWrapper {
  display: inline-flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}
.PromotionSelector {
  width: 25%;
  font-size: 10px;
  transition: 0.5s ease-out;
}
.PromotionSelector:hover {
  transform: scale(1.1);
  margin-top: -10px;
}
.PromotionSelector>.active {
  font-weight: bold;
  color: #3852D9;
}



/* ===== PAYMENT DETAIL ===== */
.PaymentDetailWrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  text-align: left;
}
.paymentBtn {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  transition: .5s ease-out;
  margin: 20px;
}
.paymentBtnHover {
  color: #fff;
  border-color: #38D99D;
  background-color: #38D99D;
}
.cancelBtnHover, .paymentBtn:hover {
  color: #38D99D;
  border-color: #38D99D;
  background-color: #fff;
}



/* ===== PROMOTION MGT FORM ===== */ 
.promotionMgtFormWrapper { 
  width: 100%; 
  min-height: 100vh; 
  transition: .5s ease-in-out; 
  background-image: url(./image/bgImage3.jpg); 
  background-color: #fff; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center top; 
  background-attachment: scroll; 
} 
.promotionMgtSection { 
  width: 90%; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  text-align: left; 
  margin-left: 5%; 
  margin-right: 5%; 
} 
.promotionMgtSection:first-child { 
  padding-top: 40px; 
} 
.promotionMgtSection:last-child { 
  padding-bottom: 40px; 
}
.promotionMgtBorder {
  border: 1px solid #ec495e;
  padding-top: 0;
  padding-bottom: 10px;
  height: 100%;
  max-height: 35vh;
  overflow: scroll;
  text-align: center;
}
.rowMgt {
  padding-top: 10px; 
  padding-bottom: 10px;
}
.rowMgt:first-child { 
  padding-top: 0; 
} 
.rowMgt:last-child { 
  padding-bottom: 0; 
}
.widthLeft {
  width: 40%;
  float: left;
  text-align: right;
}
.widthRight {
  width: 53%;
  float: left;
  text-align: left;
  padding-left: 2%;
}
.titlePromotionMgt {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0;
}
.generateBtn {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
  transition: .5s ease-out;
  color: #fff;
  border-color: #38D99D;
  background-color: #38D99D;
}
.generateBtn:hover {
  color: #38D99D;
  border-color: #38D99D;
  background-color: #fff;
}



/* ===== MEDIA768 ===== */
@media screen and (min-width: 768px) {
  .headerBtn {
    font-size: 30px;
    padding: 30px;
  }
  .noOfCustomerInput {
    width: 8%;
  }
  .PromotionSelectorWrapper, .PaymentDetailWrapper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
  }
  .billSection {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .billSection:first-child {
    padding-top: 80px;
  }
  .PromotionSelectorWrapper {
    margin-top: 40px;
  }
  
  
  
  /* ===== MEDIA768 ===== */
  @media screen and (min-width: 1366px) {
    .PromotionSelectorWrapper, .PaymentDetailWrapper {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      margin-top: 40px;
    }
  }
}